# Django
Django==5.2.11
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-filter==24.3

# Multi-tenancy
django-tenants==3.10.0
tenant-schemas-celery==4.0.3

# Celery
celery==5.6.2
redis==5.3.1
django-celery-beat==2.8.1

# Auth
djangorestframework-simplejwt==5.5.1

# HTTP Client
httpx==0.28.1

# Database
psycopg-binary==3.3.2

# Utils
python-decouple==3.8
structlog==24.4.0

# Monitoring
sentry-sdk==1.45.1

# Production server
gunicorn==21.0
uvicorn[standard]==0.27.1

# Production extras
whitenoise==6.6.0
